<template>
  <q-page padding class="text-center">
    <p class="text-body1">Obrigado por se registrar!</p>
    <p class="text-body1">Por favor confirme seu e-mail para finalizar o cadastro: <strong>{{ $route.query.email }}</strong></p>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'IndexPage'
})
</script>
