<template>
  <q-page padding>
    <q-form class="row justify-center" @submit.prevent="handleForgotPassword">
      <p class="text-h5 text-center col-12">Recuperar Senha</p>
      <div class="col-md-4 col-sm-6 col-xs-10 q-gutter-y-md">
        <q-input
          label="E-mail"
          v-model="email"
          :rules="[val => (val && val.length > 0) || 'Campo obrigatório']"
        />
        <div class="full-width q-mt-lg">
          <q-btn
            label="Enviar e-mail"
            color="primary"
            class="full-width"
            outline
            type="submit"
          />
        </div>

        <div class="full-width q-mt-lg">
          <q-btn
            label="Login"
            color="primary"
            class="full-width"
            flat
            to="/login"
          />
        </div>

      </div>

    </q-form>
  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue'
import useAuthUser from 'src/composables/UseAuthUser'
import useNotify from 'src/composables/UseNotify'
// import { useRouter } from 'vue-router'

export default defineComponent({
  name: 'ForgotPage',
  setup () {
    // const router = useRouter()
    const { sendPasswordRestEmail } = useAuthUser()
    const { notifyError, notifySuccess } = useNotify()
    const email = ref('')

    const handleForgotPassword = async () => {
      try {
        await sendPasswordRestEmail(email.value)
        notifySuccess('E-mail enviado com sucesso :)')
        // router.push({ name: 'login', query: { email: email.value } })
      } catch (error) {
        notifyError(error.message)
      }
    }

    return {
      email,
      handleForgotPassword
    }
  }
})
</script>
