<template>
  <q-page padding>
    <q-form class="row justify-center" @submit.prevent="handleLogin">
      <p class="text-h6 text-center col-12">Login</p>
      <div class="col-md-4 col-sm-6 col-xs-10 q-gutter-y-md">
        <q-input
          label="E-mail"
          v-model="form.email"
          lazy-rules
          :rules="[val => (val && val.length > 0) || 'Campo obrigatório']"
        />
        <q-input
          label="Password"
          v-model="form.password"
          type="password"
          lazy-rules
          :rules="[val => (val && val.length > 0) || 'Campo obrigatório']"
        />

        <div class="full-width q-mt-lg">
          <q-btn
            label="Login"
            color="primary"
            class="full-width"
            outline
            type="submit"
          />
        </div>

        <div class="full-width q-mt-lg">
          <q-btn
            label="Cadastro"
            color="primary"
            class="full-width"
            flat
            to="/register"
          />
        </div>

        <div class="full-width q-mt-lg">
          <q-btn
            label="Esqueceu sua senha?"
            color="primary"
            class="full-width"
            flat
            :to="{ name: 'forgot-password' }"
          />
        </div>

      </div>

    </q-form>
  </q-page>
</template>

<script>
import { defineComponent, ref, onMounted } from 'vue'
import useAuthUser from 'src/composables/UseAuthUser'
import { useRouter } from 'vue-router'
import useNotify from 'src/composables/UseNotify'

export default defineComponent({
  name: 'LoginPage',
  setup () {
    const router = useRouter()
    const { notifyError, notifySuccess } = useNotify()
    const { login, isLoggedIn } = useAuthUser()
    const form = ref({
      email: '',
      password: ''
    })

    onMounted(() => {
      if (isLoggedIn) {
        router.push({ name: 'me' })
      }
    })

    const handleLogin = async () => {
      try {
        await login(form.value)
        notifySuccess('Login efetuado com sucesso :)')
        router.push({ name: 'me' })
      } catch (error) {
        notifyError(error.message)
      }
    }

    return {
      form,
      handleLogin,
      onMounted
    }
  }
})
</script>
