<template>
  <q-page padding>
    <q-form class="row justify-center" @submit.prevent="handleRegister">
      <p class="text-h5 text-center col-12">Cadastro</p>
      <div class="col-md-4 col-sm-6 col-xs-10 q-gutter-y-md">
        <q-input
          label="Name"
          v-model="form.name"
          :rules="[val => (val && val.length > 0) || 'Campo obrigatório']"
        />
        <q-input
          label="E-mail"
          v-model="form.email"
          :rules="[val => (val && val.length > 0) || 'Campo obrigatório']"
        />
        <q-input
          label="Password"
          v-model="form.password"
          :rules="[val => (val && val.length > 0) || 'Campo obrigatório']"
        />

        <div class="full-width q-mt-lg">
          <q-btn
            label="Cadastro"
            color="primary"
            class="full-width"
            outline
            type="submit"
          />
        </div>

        <div class="full-width q-mt-lg">
          <q-btn
            label="Login"
            color="primary"
            class="full-width"
            flat
            to="/login"
          />
        </div>

      </div>

    </q-form>
  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue'
import useAuthUser from 'src/composables/UseAuthUser'
import { useRouter } from 'vue-router'
import useNotify from 'src/composables/UseNotify'

export default defineComponent({
  name: 'RegisterPage',
  setup () {
    const router = useRouter()
    const { notifyError, notifySuccess } = useNotify()
    const { register } = useAuthUser()
    const form = ref({
      name: '',
      email: '',
      password: ''
    })

    const handleRegister = async () => {
      try {
        await register(form.value)
        notifySuccess('Cadastro efetuado com sucesso :)')
        router.push({ name: 'email-confirmation', query: { email: form.value.email } })
      } catch (error) {
        notifyError(error.message)
      }
    }

    return {
      form,
      handleRegister
    }
  }
})
</script>
