<template>
  <q-page padding>
    <q-form class="row justify-center" @submit.prevent="handlePasswordReset">
      <p class="text-h5 text-center col-12">Recuperar Senha</p>
      <div class="col-md-4 col-sm-6 col-xs-10 q-gutter-y-md">
        <q-input
          label="Nova senha"
          v-model="password"
          :rules="[val => (val && val.length > 0) || 'Campo obrigatório']"
        />
        <div class="full-width q-mt-lg">
          <q-btn
            label="Resetar senha"
            color="primary"
            class="full-width"
            outline
            type="submit"
          />
        </div>
      </div>

    </q-form>
  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue'
import useAuthUser from 'src/composables/UseAuthUser'
import { useRouter, useRoute } from 'vue-router'
import useNotify from 'src/composables/UseNotify'

export default defineComponent({
  name: 'ResetPage',
  setup () {
    const router = useRouter()
    const route = useRoute()
    const { resetPassword } = useAuthUser()
    const password = ref('')
    const { notifyError, notifySuccess } = useNotify()
    const token = route.query.token

    const handlePasswordReset = async () => {
      try {
        await resetPassword(token, password.value)
        notifySuccess('Senha alterada com sucesso :)')
        router.push({ name: 'login' })
      } catch (error) {
        notifyError(error.message)
      }
    }

    return {
      password,
      handlePasswordReset
    }
  }
})
</script>
